body {
	font-family: 'Amatic SC', cursive !important;
}
button{
 width: 150px;
 height: 150px;
 border: none;
 font-size: 100px !important;
 color:white;
}
.clicked{
 	background-color: #B4B4B4;
	height: 150px;
	width: 150px;
}
.buttons {
	background-color:#12C9AD;
}
.mt {
	margin-top: 3%;
}